.row {
  padding: 10px;

  .row__title {
    color: white;
  }

  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    .link {
      all: unset;

      .row__poster {
        height: 150px;
        padding: 10px 5px;
        cursor: pointer;
        transition: transform 450ms;

        &:hover {
          transform: scale(1.04);
          opacity: 1;
        }
      }

      .row__posterLarge {
        height: 200px;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
