.filmdetails {
    padding: 30px;
    text-align: center;

    h1 {
        font-size: 2rem;
    }

    .filminfo {
        h3 {
            text-align: justify;
            font-size: 1rem;
        }
        img {
            max-height: 300px;
        }
    }

}