.banner {
  position: relative;
  height: 450px;
  color: white;
  object-fit: contain;

  .banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;

    .banner__title {
      font-size: 3rem;
      font-weight: 800;
      padding-bottom: 0.3rem;
      text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    .banner__description {
      width: 30rem;
      line-height: 1.3;
      padding-top: 1rem;
      font-size: 1rem;
      font-weight: 100;
      max-width: fit-content;
      height: 80px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .banner__buttons {
        .banner__button {
            cursor: pointer;
            color: #fff;
            outline: none;
            border: none;
            font-weight: 700;
            border-radius: 0.2vw;
            padding: 0.5rem 2rem;
            margin-right: 1rem;
            background-color: rgba(51,51,51,0.5);
        
            &:hover {
                color: #000;
                background-color: #e6e6e6;
                transition: all 0.2s;
            }
        }
    }
  }

  .banner__fadeBottom {
    height: 7.5rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
}
